In [16]:
import numpy as np
import glob
import os, os.path
import math
import pandas as pd
import psycopg2
import json

In [21]:
df = pd.read_csv('amazon_metadata.csv')

In [14]:
asins = df.iloc[1]['similar'].split(', ')
for asin in asins:
    print(asin)

0804215715
156101074X
0687023955
0687074231
082721619X

In [43]:
import warnings
warnings.filterwarnings('ignore')

In [22]:
df.loc[1,'similar']

'0804215715, 156101074X, 0687023955, 0687074231, 082721619X'

In [4]:
def psqlConnect(dbname, user, pwd, host, port):
    conn = None
    try:
        conn = psycopg2.connect(
            dbname=dbname,
            user=user,
            password=pwd,
            host=host,
            port=port
        )
        print("Successfully connected to the database.")
    except psycopg2.Error as e:
        print(f"An error occurred while connecting to the database: {e}")
    return conn

def load_age():
    try:
        cur.execute("LOAD 'age';")
    except psycopg2.Error as e:
        print(f"An error occurred: {e}")
        conn.rollback()
    
    try:
        cur.execute("SET search_path TO ag_catalog;")
    except psycopg2.Error as e:
        print(f"An error occurred: {e}")
        conn.rollback()
        
def execute(query):
    try:
        cur.execute(query)
        conn.commit()
        rows = cur.fetchall()
        for row in rows:
            print(row)
    except psycopg2.Error as e:
        print(f"An error occurred: {e}")
        conn.rollback()

In [5]:
dbname = "demo" 
user = "s9rt1v" 
pwd = "1234" 
host = "localhost" 
port = "5430"
conn = psqlConnect(dbname, user, pwd, host, port)
cur = conn.cursor()
load_age()

Successfully connected to the database.

In [28]:
#create edges:SIMILAR_TO for node item and item
for i in range(df.shape[0]):
    if not pd.isna(df.iloc[i]['similar']):
        sim_asins =  df.iloc[i]['similar'].split(', ')
        asin = df.iloc[i]['asin']
        for sim_asin in sim_asins:
            query = f"SELECT * FROM cypher ('amazon_metadata_test', $$ MATCH (source:Item {{ asin: '{asin}' }}), (target:Item {{ asin: '{sim_asin}' }}) CREATE (source)-[:SIMILAR_TO]->(target) $$) as (a agtype);"
            execute(query)

KeyboardInterrupt:

In [103]:
query = ("SELECT * FROM cypher ('amazon_metadata_test', $$ MATCH (n:Group) RETURN n $$) as ( a agtype);")
execute(query)

('{"id": 3377699720527873, "label": "Group", "properties": {"name": "Book"}}::vertex',)
('{"id": 3377699720527874, "label": "Group", "properties": {"name": "Music"}}::vertex',)
('{"id": 3377699720527875, "label": "Group", "properties": {"name": "DVD"}}::vertex',)
('{"id": 3377699720527876, "label": "Group", "properties": {"name": "Video"}}::vertex',)
('{"id": 3377699720527877, "label": "Group", "properties": {"name": "Toy"}}::vertex',)
('{"id": 3377699720527878, "label": "Group", "properties": {"name": "Video Games"}}::vertex',)
('{"id": 3377699720527879, "label": "Group", "properties": {"name": "Software"}}::vertex',)
('{"id": 3377699720527880, "label": "Group", "properties": {"name": "Baby Product"}}::vertex',)
('{"id": 3377699720527881, "label": "Group", "properties": {"name": "CE"}}::vertex',)
('{"id": 3377699720527882, "label": "Group", "properties": {"name": "Sports"}}::vertex',)

In [114]:
def get_node_labels(graph_name):
    query = f"SELECT * FROM cypher('{graph_name}', $$MATCH (n) RETURN DISTINCT labels(n)$$) AS (label agtype);"
    labels = []
    try:
        cur.execute(query)
        conn.commit()
        rows = cur.fetchall()
        for row in rows:
            label = row[0].split('"')[1]
            labels.append(label)
    except psycopg2.Error as e:
        print(f"An error occurred: {e}")
        conn.rollback()
    return labels

def get_node_property_names(node_label,graph_name):
    query = f"SELECT * FROM cypher('{graph_name}', $$ MATCH (n:{node_label})RETURN DISTINCT keys(n) LIMIT 1 $$) AS (properties agtype);"
    property_names = []
    try:
        cur.execute(query)
        conn.commit()
        rows = cur.fetchall()
        for row in rows:
            p_names = row[0]
            names = json.loads(p_names)
            for name in names:
                property_names.append(name)
            #property_names.append(p_name)
    except psycopg2.Error as e:
        print(f"An error occurred: {e}")
        conn.rollback()
    return property_names

def get_edge_labels(graph_name):
    query = f"SELECT * FROM cypher('{graph_name}', $$ MATCH ()-[r]->() RETURN DISTINCT TYPE(r) $$) AS (relation_type agtype);"
    labels = []
    try:
        cur.execute(query)
        conn.commit()
        rows = cur.fetchall()
        for row in rows:
            label = row[0].split('"')[1]
            labels.append(label)
    except psycopg2.Error as e:
        print(f"An error occurred: {e}")
        conn.rollback()
    return labels

def get_edge_property_names(edge_label, graph_name):
    query = f"SELECT * FROM cypher('{graph_name}', $$ MATCH ()-[r:{edge_label}]->() RETURN DISTINCT keys(r) LIMIT 1 $$) AS (properties agtype);"
    property_names = []
    try:
        cur.execute(query)
        conn.commit()
        rows = cur.fetchall()
        for row in rows:
            p_names = row[0]
            names = json.loads(p_names)
            for name in names:
                property_names.append(name)
            #property_names.append(p_name)
    except psycopg2.Error as e:
        print(f"An error occurred: {e}")
        conn.rollback()
    return property_names

In [ ]:
def create_node_table(node_label, node_p_names):

In [53]:
labels = get_labels('amazon_metadata_test')

In [170]:
for i in range(10):
    if not pd.isna(df_test.loc[i]['similar']):
        similar_o = df_test.loc[i]['similar'].split(', ')
        similar_n = ''
        for similar in similar_o:
            if similar in asin_list:
                if similar_n == '':
                    similar_n = similar
                else:
                    similar_n = similar_n + ', ' + similar
        if similar_n == '':
            df_test.loc[i, 'similar'] = np.nan
        else:
            df_test.loc[i, 'similar'] = similar_n

In [184]:
df_reduced[df_reduced['similarity'].notna()]

,asin,title,group,salesrank,similar,total_reviews,downloaded_reviews,avg_rating,similarity
2,738700797,Candlemas: Feast of Flames,Book,168596.0,1567184960,12.0,12.0,4.5,9
7,B00000AU3R,Batik,Music,5392.0,"B0000261KX, B000059OB9",3.0,3.0,4.5,"6, 10"
8,231118597,Losing Matt Shepard,Book,277409.0,"B000067D0Y, 080148605X",15.0,15.0,4.5,"4, 6"
15,1559362022,Wake Up and Smell the Coffee,Book,518927.0,"1559360968, 1559361247",8.0,8.0,4.0,"8, 9"
17,849311012,Telecommunications Cost Management,Book,570183.0,1578200326,3.0,3.0,3.5,9
...,...,...,...,...,...,...,...,...,...
99966,375431497,Three Weeks in Paris : A Novel (Random House L...,Book,1041442.0,006109207X,31.0,31.0,2.0,7
99967,750672064,Understanding & Servicing Alarm Systems,Book,247871.0,9992095881,1.0,1.0,2.0,2
99979,013026248X,The Strategy and Tactics of Pricing: A Guide t...,Book,3618.0,068483443X,21.0,21.0,5.0,4
99982,1885767242,To A Thousand Generations,Book,272078.0,1885767250,4.0,4.0,5.0,6
99999,966616820,Secrets of Successful Fundraising,Book,461669.0,078795876X,1.0,1.0,4.0,9

In [54]:
labels

['Group', 'Item']

In [113]:
get_node_property_names(labels[0])

['name']

In [185]:
df_reduced.to_csv('amazon_reduced.csv',index = False)

In [173]:
'B0000261KX' in asin_list

True

In [168]:
df_test = df.iloc[:10].copy()

In [171]:
df_test

,asin,title,group,salesrank,similar,total_reviews,downloaded_reviews,avg_rating
0,771044445,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,827229534,Patterns of Preaching: A Sermon Sampler,Book,396585.0,NaN,2.0,2.0,5.0
2,738700797,Candlemas: Feast of Flames,Book,168596.0,1567184960,12.0,12.0,4.5
3,486287785,World War II Allied Fighter Planes Trading Cards,Book,1270652.0,NaN,1.0,1.0,5.0
4,842328327,Life Application Bible Commentary: 1 and 2 Tim...,Book,631289.0,NaN,1.0,1.0,4.0
5,1577943082,Prayers That Avail Much for Business: Executive,Book,455160.0,NaN,0.0,0.0,0.0
6,486220125,How the Other Half Lives: Studies Among the Te...,Book,188784.0,NaN,17.0,17.0,4.0
7,B00000AU3R,Batik,Music,5392.0,"B0000261KX, B000059OB9",3.0,3.0,4.5
8,231118597,Losing Matt Shepard,Book,277409.0,"B000067D0Y, 080148605X",15.0,15.0,4.5
9,1859677800,Making Bread: The Taste of Traditional Home-Ba...,Book,949166.0,NaN,0.0,0.0,0.0

In [95]:
for i in range(2):
    if not pd.isna(df_test.loc[i]['similar']):
        similar_o = df_test.loc[i]['similar'].split(', ')
        for similar in similar_o:
            if similar not in asin_list:
                similar_o.remove(similar)
        if len(similar_o) >0:
            similar_n = ''
            for j in range(len(similar_o)):
                if j == 0:
                    similar_n = similar_o[j] 
                else:
                    similar_n = similar_n+', '+similar_o[j]
            df_test.loc[i, 'similar'] = similar_n
        else:
            df_test.loc[i, 'similar'] = np.nan

In [175]:
df_reduced = df.iloc[:100000].copy()

In [183]:
df_reduced

,asin,title,group,salesrank,similar,total_reviews,downloaded_reviews,avg_rating,similarity
0,771044445,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,827229534,Patterns of Preaching: A Sermon Sampler,Book,396585.0,NaN,2.0,2.0,5.0,NaN
2,738700797,Candlemas: Feast of Flames,Book,168596.0,1567184960,12.0,12.0,4.5,9
3,486287785,World War II Allied Fighter Planes Trading Cards,Book,1270652.0,NaN,1.0,1.0,5.0,NaN
4,842328327,Life Application Bible Commentary: 1 and 2 Tim...,Book,631289.0,NaN,1.0,1.0,4.0,NaN
...,...,...,...,...,...,...,...,...,...
99995,1585744212,The Ultimate Chili Book: A Connoisseur's Guide...,Book,345915.0,NaN,0.0,0.0,0.0,NaN
99996,340728345,Wallace & Gromit: Anoraknophobia,Book,805006.0,NaN,4.0,4.0,5.0,NaN
99997,1857925246,A Peep Behind the Scenes,Book,1467003.0,NaN,2.0,2.0,3.0,NaN
99998,962153222,Translations and Annotations of Choral Reperto...,Book,606100.0,NaN,0.0,0.0,0.0,NaN
99999,966616820,Secrets of Successful Fundraising,Book,461669.0,078795876X,1.0,1.0,4.0,9

In [92]:
asin_list = df_reduced['asin'].tolist()

In [147]:
'0687074231' in asin_list

False

In [177]:
for i in range(100000):
    if not pd.isna(df_reduced.loc[i]['similar']):
        similar_o = df_reduced.loc[i]['similar'].split(', ')
        similar_n = ''
        for similar in similar_o:
            if similar in asin_list:
                if similar_n == '':
                    similar_n = similar
                else:
                    similar_n = similar_n + ', ' + similar
        if similar_n == '':
            df_reduced.loc[i, 'similar'] = np.nan
        else:
            df_reduced.loc[i, 'similar'] = similar_n

In [102]:
df_reduced['group'].unique()

array([nan, 'Book', 'Music', 'DVD', 'Video', 'Toy', 'Video Games',
       'Software'], dtype=object)

In [ ]:
SELECT * FROM cypher('amazon_metadata_test', $$ MATCH ()-[r]->() RETURN DISTINCT TYPE(r) $$) AS (relation_type agtype);

In [182]:
for i in range(100000):
    if not pd.isna(df_reduced.loc[i]['similar']):
        sim_list = df_reduced.loc[i]['similar'].split(', ')
        similarity = ''
        for j in range(len(sim_list)):
            temp = np.random.randint(1, 11)
            if j == 0:
                similarity = str(temp)
            else:
                similarity = similarity+', '+str(temp)
        df_reduced.loc[i,'similarity'] = similarity
    else:
        df_reduced.loc[i,'similarity'] = np.nan

In [101]:
df_reduced.to_csv('amazon_reduced.csv',index = False)

In [188]:
for i in range(100000):
    n_dict={}
    for column in ['asin', 'title', 'salesrank', 'total_reviews', 'downloaded_reviews', 'avg_rating']:
        if not pd.isna(df_reduced.loc[i][column]):
            n_dict[column] = df_reduced.loc[i][column]
        else:
            n_dict[column] = ''
    n_dict['title'] = n_dict['title'].replace("'", "")
    n_dict['title'] = n_dict['title'].replace("$", "S")
    n_dict['title'] = n_dict['title'].replace("\\", "")
    query = f"""SELECT * FROM cypher('amazon', $$ CREATE (n:Product {{ asin: '{n_dict['asin']}', title: '{n_dict['title']}', salesrank: '{n_dict['salesrank']}', total_reviews: '{n_dict['total_reviews']}', downloaded_reviews: '{n_dict['downloaded_reviews']}', avg_rating: '{n_dict['avg_rating']}' }}) $$) AS (a agtype);"""
    execute(query)

In [189]:
group = df_reduced['group'].unique().tolist()

In [190]:
for i in range(len(group)-1):
    name = group[i+1]
    query = f"""SELECT * FROM cypher('amazon', $$ CREATE (n:Group {{name: '{name}'}})$$) AS (a agtype);"""
    execute(query)

In [191]:
#create edges:BELONGS_TO for node item and group
for i in range(100000):
    if not pd.isna(df_reduced.loc[i]['group']):
        group = df_reduced.loc[i]['group']
        asin = df_reduced.loc[i]['asin']
        query = f"SELECT * FROM cypher ('amazon', $$ MATCH (source:Product {{ asin: '{asin}' }}), (target:Group {{ name: '{group}' }}) CREATE (source)-[:BELONGS_TO]->(target) $$) as (a agtype);"
        execute(query)

In [199]:
#create edges:SIMILAR_TO for node item and item
for i in range(3):
    if not pd.isna(df_reduced.loc[i]['similar']):
        sim_asins =  df_reduced.loc[i]['similar'].split(', ')
        similarities =  df_reduced.loc[i]['similarity'].split(', ')
        asin = df_reduced.loc[i]['asin']
        for j in range(len(sim_asins)):
            sim_asin = sim_asins[j]
            similarity = int(similarities[j])
            query = f"SELECT * FROM cypher ('amazon', $$ MATCH (source:Product {{ asin: '{asin}' }}), (target:Product {{ asin: '{sim_asin}' }}) CREATE (source)-[:SIMILAR_TO {{similarity:{similarity}}}]->(target) $$) as (a agtype);"
            print(query)
            #execute(query)

SELECT * FROM cypher ('amazon', $$ MATCH (source:Product { asin: '738700797' }), (target:Item { asin: '1567184960' }) CREATE (source)-[:SIMILAR_TO {similarity:9}]->(target) $$) as (a agtype);

In [195]:
'1567184960' in asin_list

True