In [1]:
import numpy as np
import glob
import os, os.path
import math
import pandas as pd
import psycopg2
import json

In [126]:
def psqlConnect(dbname, user, pwd, host, port):
    conn = None
    try:
        conn = psycopg2.connect(
            dbname=dbname,
            user=user,
            password=pwd,
            host=host,
            port=port
        )
        print("Successfully connected to the database.")
    except psycopg2.Error as e:
        print(f"An error occurred while connecting to the database: {e}")
    return conn

def load_age():
    try:
        cur.execute("LOAD 'age';")
    except psycopg2.Error as e:
        print(f"An error occurred: {e}")
        conn.rollback()
    
    try:
        cur.execute("SET search_path TO ag_catalog;")
    except psycopg2.Error as e:
        print(f"An error occurred: {e}")
        conn.rollback()
        
def execute(query):
    try:
        cur.execute(query)
        conn.commit()
    except psycopg2.Error as e:
        print(f"An error occurred: {e}")
        conn.rollback()
def execute_n_fetch(query):
    try:
        cur.execute(query)
        conn.commit()
        rows = cur.fetchall()
    except psycopg2.Error as e:
        print(f"An error occurred: {e}")
        conn.rollback()

In [3]:
dbname = "demo" 
user = "s9rt1v" 
pwd = "1234" 
host = "localhost" 
port = "5430"
conn = psqlConnect(dbname, user, pwd, host, port)
cur = conn.cursor()
load_age()

Successfully connected to the database.

In [152]:
def get_node_labels(graph_name):
    query = f"SELECT * FROM cypher('{graph_name}', $$MATCH (n) RETURN DISTINCT labels(n)$$) AS (label agtype);"
    labels = []
    try:
        cur.execute(query)
        conn.commit()
        rows = cur.fetchall()
        for row in rows:
            label = row[0].split('"')[1]
            labels.append(label)
    except psycopg2.Error as e:
        print(f"An error occurred: {e}")
        conn.rollback()
    return labels

def get_node_property_names(graph_name,node_label):
    query = f"SELECT * FROM cypher('{graph_name}', $$ MATCH (n:{node_label})RETURN DISTINCT keys(n) LIMIT 1 $$) AS (properties agtype);"
    property_names = []
    try:
        cur.execute(query)
        conn.commit()
        rows = cur.fetchall()
        for row in rows:
            p_names = row[0]
            names = json.loads(p_names)
            for name in names:
                property_names.append(name)
            #property_names.append(p_name)
    except psycopg2.Error as e:
        print(f"An error occurred: {e}")
        conn.rollback()
    return property_names

def get_edge_labels(graph_name):
    query = f"SELECT * FROM cypher('{graph_name}', $$ MATCH (s)-[r]->(t) RETURN DISTINCT labels(s),TYPE(r),labels(t) $$) AS (s_l agtype,r_l agtype, t_l agtype);"
    execute(query)
    rows = cur.fetchall()
    labels = []
    for row in rows:
        infos = {}
        infos['e_label'] = row[1].split('"')[1]
        infos['s_label'] = row[0].split('"')[1]
        infos['t_label'] = row[2].split('"')[1]
        labels.append(infos)
        
    return labels

def get_edge_property_names( graph_name,edge_label):
    query = f"SELECT * FROM cypher('{graph_name}', $$ MATCH ()-[r:{edge_label}]->() RETURN DISTINCT keys(r) LIMIT 1 $$) AS (properties agtype);"
    property_names = []
    try:
        cur.execute(query)
        conn.commit()
        rows = cur.fetchall()
        for row in rows:
            p_names = row[0]
            names = json.loads(p_names)
            for name in names:
                property_names.append(name)
            #property_names.append(p_name)
    except psycopg2.Error as e:
        print(f"An error occurred: {e}")
        conn.rollback()
    return property_names

def get_num_node_label(graph,label):
    query = f"SELECT * FROM cypher ('{graph}', $$ MATCH (n:{label}) RETURN count(n) $$) as (count agtype);"
    execute(query)
    rows = cur.fetchall()
    return int(rows[0][0])

def get_num_edge_label(graph,label):
    query = f"SELECT * FROM cypher ('{graph}', $$ MATCH ()-[r:{label}]->() RETURN count(r) $$) as (count agtype);"
    execute(query)
    rows = cur.fetchall()
    return int(rows[0][0])

In [8]:
get_edge_labels('amazon')

['BELONGS_TO', 'SIMILAR_TO']

In [5]:
graph = 'amazon'

In [52]:
names = get_node_property_names('Product','amazon')

In [44]:
label = 'Product'
num = get_num_node_label(graph,label)

In [48]:
get_num_edge_label(graph,'BELONGS_TO')

98920

In [72]:
get_num_node_label(graph,'Group')

7

In [214]:
p_names = get_edge_property_names(graph,'SIMILAR_TO')

In [136]:
node_table_creator(graph,names,'Product')

CREATE TABLE Product(ID BIGINT PRIMARY KEY, asin TEXT, title TEXT, salesrank TEXT, avg_rating TEXT, total_reviews TEXT, downloaded_reviews TEXT);

In [96]:
query = "SELECT * FROM cypher ('amazon',$$ MATCH (n:Product) RETURN n LIMIT 500 $$) AS (a agtype);"
execute(query)

In [97]:
rows = cur.fetchall()

In [243]:
b

[('{"id": 1688849860263938, "label": "SIMILAR_TO", "end_id": 844424930202453, "start_id": 844424930140164, "properties": {"similarity": 9}}::edge',),
 ('{"id": 1688849860263939, "label": "SIMILAR_TO", "end_id": 844424930170190, "start_id": 844424930140169, "properties": {"similarity": 6}}::edge',)]

In [93]:
a_n = a.split('::vertex')[0]
b = json.loads(a_n)

In [139]:
def node_table_creator(graph,p_names,n_label):
    pre = f"DROP TABLE IF EXISTS {n_label};"
    execute(pre)
    table_para = 'ID BIGINT PRIMARY KEY'
    if p_names:
        q = ''
        for name in p_names:
            if q == '':
                q = f"SELECT * FROM cypher ('{graph}', $$ MATCH (n:{label}) WHERE n.{name} IS NOT NULL "
            else:
                q = q + f"AND r.{name} IS NOT NULL "
        q = q + "RETURN r LIMIT 1 $$) AS (a agtype);"
        execute(q)
        rows = cur.fetchall()
        js = njson_processor(rows[0][0])
        p_values = js['properties']
        for name in p_names:
            value = p_values[name]
            if type(value) == str:
                table_para = table_para + ", " + name + " TEXT"
            elif type(value) == int:
                if value > 2147483647 or value <  -2147483648:
                    table_para = table_para + ", " + name + " BIGINT"
                else:
                    table_para = table_para + ", " + name + " INTEGER"
            elif type(value) == float:
                table_para = table_para + ", " + name + " DECIMAL"
    query = f"CREATE TABLE {n_label}({table_para});"
    execute(query)

In [202]:

def get_nodes(graph, label):
    query = f"SELECT * FROM cypher ('{graph}',$$ MATCH (n:{label}) RETURN n $$) AS (a agtype);"
    execute(query)
    rows = cur.fetchall()
    return rows

def njson_processor(text):
    t_n = text.split('::vertex')[0]
    t_json = json.loads(t_n)
    return t_json

def node_data_transformer(graph,p_names,n_label):
    n_num = get_num_node_label(graph,n_label)
    nodes = get_nodes(graph, n_label)
    for i in range(n_num):
        js = njson_processor(nodes[i][0])
        p_values = js['properties']
        ID = js['id']
        cols = 'ID'
        
        if p_names:
            values = ''
            for name in p_names:
                cols = cols + ', ' + name
                if values == '':
                    values = "'" + str(p_values[name]) + "'"
                else:
                    values = values + ", '"  + str(p_values[name]) + "'"
            query = f"INSERT INTO {n_label} ({cols}) VALUES ({ID}, {values});"
        else:
            query = f"INSERT INTO {n_label} ({cols}) VALUES ({ID});"
        
        execute(query)

In [134]:
p_names = get_node_property_names('Product',graph)
node_data_transformer(graph,p_names,'Product')

INSERT INTO Product (ID, asin, title, salesrank, avg_rating, total_reviews, downloaded_reviews) VALUES (844424930155523, 'B000000D5Z', 'Donny & Marie Osmond - Greatest Hits', '37709.0', '4.0', '15.0', '15.0');
INSERT INTO Product (ID, asin, title, salesrank, avg_rating, total_reviews, downloaded_reviews) VALUES (844424930155524, '521448522', 'System and Writing in the Philosophy of Jacques Derrida (Cambridge Studies in French)', '657565.0', '0.0', '0.0', '0.0');

In [108]:
c = get_nodes(graph, 'Product')

In [109]:
c[0][0]

'{"id": 844424930155523, "label": "Product", "properties": {"asin": "B000000D5Z", "title": "Donny & Marie Osmond - Greatest Hits", "salesrank": "37709.0", "avg_rating": "4.0", "total_reviews": "15.0", "downloaded_reviews": "15.0"}}::vertex'

In [112]:
p_names

['asin',
 'title',
 'salesrank',
 'avg_rating',
 'total_reviews',
 'downloaded_reviews']

In [248]:
def edge_table_creator(graph,e_label):
    label = e_label['e_label']
    s_label = e_label['s_label']
    t_label = e_label['t_label']
    pre = f"DROP TABLE IF EXISTS \"{label}\";"
    execute(pre)
    p_names = get_edge_property_names(graph, label)
    table_para = 'ID BIGINT PRIMARY KEY, sourceid BIGINT, targetid BIGINT'
    if p_names:
        q = ''
        for name in p_names:
            if q == '':
                q = f"SELECT * FROM cypher ('{graph}', $$ MATCH ()-[r:{label}]->() WHERE r.{name} IS NOT NULL "
            else:
                q = q + f"AND r.{name} IS NOT NULL "
        q = q + "RETURN r LIMIT 1 $$) AS (a agtype);"
        execute(q)
        rows = cur.fetchall()
        js = ejson_processor(rows[0][0])
        p_values = js['properties']
        for name in p_names:
            value = p_values[name]
            if type(value) == str:
                table_para = table_para + ", " + name + " TEXT"
            elif type(value) == int:
                if value > 2147483647 or value <  -2147483648:
                    table_para = table_para + ", " + name + " BIGINT"
                else:
                    table_para = table_para + ", " + name + " INTEGER"
            elif type(value) == float:
                table_para = table_para + ", " + name + " DECIMAL"
                
    table_para = table_para + ", " + f"FOREIGN KEY (sourceid) REFERENCES \"{s_label}\" (ID), FOREIGN KEY (targetid) REFERENCES \"{t_label}\" (ID)"
    query = f"CREATE TABLE \"{label}\" ({table_para});"
    print(query)

In [228]:
def get_edges(graph, label):
    query = f"SELECT * FROM cypher('{graph}', $$MATCH ()-[r:{label}]->() RETURN r LIMIT 2 $$) as ( r agtype);"
    execute(query)
    rows = cur.fetchall()
    return rows

def ejson_processor(text):
    t_n = text.split('::edge')[0]
    t_json = json.loads(t_n)
    return t_json

def edge_data_transformer(graph,p_names,e_label):
    e_num = get_num_edge_label(graph,e_label)
    edges = get_edges(graph, e_label)
    for i in range(2):
        js = ejson_processor(edges[i][0])
        p_values = js['properties']
        ID = js['id']
        s_id = js['start_id']
        t_id = js['end_id']
        cols = 'ID, sourceid, targetid'
        if p_names:
            values = ''
            for name in p_names:
                cols = cols + ', ' + name
                if values == '':
                    values = "'" + str(p_values[name]) + "'"
                else:
                    values = values + ", '"  + str(p_values[name]) + "'"
                
            query = f"INSERT INTO {e_label} ({cols}) VALUES ({ID},{s_id},{t_id},{values});"
        else:
            query = f"INSERT INTO {e_label} ({cols}) VALUES ({ID},{s_id},{t_id});"
        print(query)
        #execute(query)

In [199]:
edge_table_creator(graph,e_label)

CREATE TABLE BELONGS_TO(ID BIGINT PRIMARY KEY, sourceid BIGINT, targetid BIGINT, FOREIGN KEY (sourceid) REFERENCES Product (ID), FOREIGN KEY (targetid) REFERENCES Group (ID));

In [229]:
b = get_edges(graph,'SIMILAR_TO')

In [230]:
c = b[0][0].split('::edge')[0]
c_n = json.loads(c)

In [168]:
if c_n['properties']:
    print(1)

In [169]:
query = "SELECT * FROM cypher('amazon', $$ MATCH (s)-[r]->(t) RETURN DISTINCT labels(s),TYPE(r),labels(t) $$) AS (s_l agtype,r_l agtype, t_l agtype);"
execute(query)
rows = cur.fetchall()

In [182]:
rows[0][1].split('"')

['', 'BELONGS_TO', '']

In [185]:
labels = []

for row in rows:
    infos = {}
    infos['e_label'] = row[1].split('"')[1]
    infos['s_label'] = row[0].split('"')[1]
    infos['t_label'] = row[2].split('"')[1]
    labels.append(infos)

In [215]:
e_label = labels[1]

In [223]:
edge_data_transformer(graph,p_names,e_label['e_label'])

INSERT INTO SIMILAR_TO (ID, sourceid, targetid, similarity) VALUES (1688849860263938,844424930140164,844424930202453,'9');
INSERT INTO SIMILAR_TO (ID, sourceid, targetid, similarity) VALUES (1688849860263939,844424930140169,844424930170190,'6');

In [231]:
c_n['properties']['similarity']

{'id': 1688849860263938,
 'label': 'SIMILAR_TO',
 'end_id': 844424930202453,
 'start_id': 844424930140164,
 'properties': {'similarity': 9}}

In [232]:
type(c_n['properties']['similarity'])

int

In [244]:
type(0.9)

float

In [220]:
type('s')

str

In [235]:
e_label

{'e_label': 'SIMILAR_TO', 's_label': 'Product', 't_label': 'Product'}

In [249]:
edge_table_creator(graph,e_label)

CREATE TABLE "SIMILAR_TO" (ID BIGINT PRIMARY KEY, sourceid BIGINT, targetid BIGINT, similarity INTEGER, FOREIGN KEY (sourceid) REFERENCES "Product" (ID), FOREIGN KEY (targetid) REFERENCES "Product" (ID));

In [225]:
'9'>6

TypeError: '>' not supported between instances of 'str' and 'int'

In [246]:
-1>-2147483648

True

In [247]:
type(844424930202453)

int